// =Colors
$colors: map-extend($colors, (
    "alert": (
        default: (
            background-color: var(--palette-neutral-lighter),
            border-color: var(--palette-transparent),
            color: var(--palette-neutral-darker),
        ),
        info: (
            background-color: var(--palette-active-lightest),
            border-color: var(--palette-transparent),
            color: var(--palette-active-darker)
        ),
        success: (
            background-color: var(--palette-positive-lightest),
            border-color: var(--palette-transparent),
            color: var(--palette-positive-darker)
        ),
        error: (
            background-color: var(--palette-negative-lightest),
            border-color: var(--palette-transparent),
            color: var(--palette-negative-darker)
        )
    ),
    "background": (
        light: var(--palette-light),
        dark: var(--palette-dark),
        primary: var(--palette-primary-base),
        aluminum: var(--palette-neutral-lightest),
        silver: var(--palette-neutral-lighter),
        platinum: var(--palette-neutral-light)
    ),
    "badge": (
        default: (
            background-color: var(--palette-neutral-lighter),
            border-color: var(--palette-transparent),
            color: var(--palette-neutral-darker)
        ),
        primary: (
            background-color: var(--palette-primary-lightest),
            border-color: var(--palette-transparent),
            color: var(--palette-primary-dark)
        ),
        positive: (
            background-color: var(--palette-positive-lightest),
            border-color: var(--palette-transparent),
            color: var(--palette-positive-dark)
        ),
        important: (
            background-color: var(--palette-negative-lightest),
            border-color: var(--palette-transparent),
            color: var(--palette-negative-dark)
        ),
        dark: (
            background-color: var(--palette-dark),
            border-color: var(--palette-transparent),
            color: var(--palette-light)
        ),
        light: (
            background-color: var(--palette-light),
            border-color: var(--palette-transparent),
            color: var(--palette-dark)
        )
    ),
    "body": (
        default: var(--palette-light)
    ),
    "border": (
        dark: var(--palette-dark),
        dark-low: var(--palette-dark-7),
        dark-medium: var(--palette-dark-10),
        light: var(--palette-light),
        light-low: var(--palette-light-20),
        light-medium: var(--palette-light-50),
        primary: var(--palette-primary-base)
    ),
    "breadcrumb": (
        default: (
            link-color: var(--palette-dark),
            link-hover-color: var(--palette-dark-60),
            link-active-color: var(--palette-dark-40),
            separator-color: var(--palette-dark-25)
        )
    ),
    "button": (
        default: (
            background-color: var(--palette-transparent),
            border-color: var(--palette-dark-20),
            color: var(--palette-neutral-darker),
            hover-background-color: var(--palette-dark-5),
            hover-border-color: var(--palette-dark-20),
            hover-color: var(--palette-dark),
            disabled-background-color: var(--palette-light),
            disabled-border-color: var(--palette-dark-20),
            disabled-color: var(--palette-dark-80)
        ),
        primary: (
            background-color: var(--palette-primary-base),
            border-color: var(--palette-transparent),
            color: var(--palette-primary-lightest),
            hover-background-color: var(--palette-primary-dark),
            hover-border-color: var(--palette-transparent),
            hover-color: var(--palette-primary-lightest),
            disabled-background-color: var(--palette-dark-70),
            disabled-border-color: var(--palette-transparent),
            disabled-color: var(--palette-light-70)
        ),
        light: (
            background-color: var(--palette-light-95),
            border-color: var(--palette-transparent),
            color: var(--palette-dark),
            hover-background-color: var(--palette-light-80),
            hover-border-color: var(--palette-transparent),
            hover-color: var(--palette-dark),
            disabled-background-color: var(--palette-light-95),
            disabled-border-color: var(--palette-transparent),
            disabled-color: var(--palette-dark-80)
        ),
        light-outline: (
            background-color: var(--palette-transparent),
            border-color: var(--palette-light-60),
            color: var(--palette-light-90),
            hover-background-color: var(--palette-light-7),
            hover-border-color: var(--palette-light-80),
            hover-color: var(--palette-light),
            disabled-background-color: var(--palette-light-95),
            disabled-border-color: var(--palette-transparent),
            disabled-color: var(--palette-dark-80)
        ),
        dark: (
            background-color: var(--palette-dark),
            border-color: var(--palette-transparent),
            color: var(--palette-neutral-lightest),
            hover-background-color: var(--palette-neutral-darker),
            hover-border-color: var(--palette-transparent),
            hover-color: var(--palette-neutral-lightest),
            disabled-background-color: var(--palette-dark-70),
            disabled-border-color: var(--palette-transparent),
            disabled-color: var(--palette-light-70)
        )
    ),
    "form": (
        label: (
            color: var(--palette-neutral-darker)
        )
    ),
    "heading": (
        default: var(--palette-dark),
        moderated: var(--palette-dark-70),
        muted: var(--palette-dark-50),
        light: var(--palette-light-95),
        light-moderated: var(--palette-light-80),
        primary: var(--palette-primary-base)
    ),
    "icon": (
        dark: var(--palette-dark),
        light: var(--palette-light),
        primary: var(--palette-primary-base)
    ),
    "inline": (
        var: (
            color: var(--palette-dark-80),
            border-color: var(--palette-transparent),
            background-color: var(--palette-transparent)
        ),
        kbd: (
            color: var(--palette-dark-80),
            border-color: var(--palette-dark-15),
            background-color: var(--palette-transparent)
        ),
        code: (
            color: var(--palette-dark-80),
            border-color: var(--palette-transparent),
            background-color: var(--palette-neutral-lightest)
        ),
        cite: (
            color: var(--palette-dark-70)
        )
    ),
    "input": (
        default: (
            color: var(--palette-neutral-darker),
            border-color: var(--palette-dark-20),
            background-color: var(--palette-light),
            box-shadow: none,
            focus-color: var(--palette-neutral-darker),
            focus-border-color: var(--palette-active-light),
            focus-background-color: var(--palette-light),
            focus-box-shadow: inset 0 0 2px var(--palette-active-light)
        ),
        error: (
            outline-color: var(--palette-negative-base),
            color: var(--palette-negative-dark),
            border-color: var(--palette-negative-base),
            background-color: var(--palette-light),
            box-shadow: none,
            focus-color: var(--palette-negative-dark),
            focus-border-color: var(--palette-negative-base),
            focus-background-color: var(--palette-light),
            focus-box-shadow: inset 0 0 3px var(--palette-negative-light)
        ),
        light: (
            color: var(--palette-light-90),
            border-color: var(--palette-light-40),
            background-color: var(--palette-light-15),
            box-shadow: none,
            focus-color: var(--palette-light-90),
            focus-border-color: var(--palette-light-60),
            focus-background-color: var(--palette-light-20)
        )
    ),
    "input-addon": (
        default: (
            item-color: var(--palette-dark),
            item-background-color: var(--palette-transparent),
            item-border-color: var(--palette-dark-25)
        )
    ),
    "label": (
        default: (
            background-color: var(--palette-neutral-lighter),
            border-color: var(--palette-transparent),
            color: var(--palette-neutral-darker)
        ),
        primary: (
            background-color: var(--palette-primary-lightest),
            border-color: var(--palette-transparent),
            color: var(--palette-primary-dark)
        ),
        positive: (
            background-color: var(--palette-positive-lightest),
            border-color: var(--palette-transparent),
            color: var(--palette-positive-dark)
        ),
        important: (
            background-color: var(--palette-negative-lightest),
            border-color: var(--palette-transparent),
            color: var(--palette-negative-dark)
        ),
        dark: (
            background-color: var(--palette-dark),
            border-color: var(--palette-transparent),
            color: var(--palette-negative-lightest)
        ),
        light: (
            background-color: var(--palette-light),
            border-color: var(--palette-transparent),
            color: var(--palette-dark)
        )
    ),
    "line": (
        default: var(--palette-dark-10)
    ),
    "link": (
        default: (
            color: var(--palette-active-dark),
            hover-color: var(--palette-negative-dark)
        ),
        dark: (
            color: var(--palette-dark),
            hover-color: var(--palette-dark-60)
        ),
        muted: (
            color: var(--palette-dark-50),
            hover-color: var(--palette-dark)
        ),
        moderated: (
            color: var(--palette-dark-70),
            hover-color: var(--palette-dark)
        ),
        light: (
            color: var(--palette-light-95),
            hover-color: var(--palette-light-60)
        ),
        light-moderated: (
            color: var(--palette-light-70),
            hover-color: var(--palette-light)
        ),
        primary: (
            color: var(--palette-primary-dark),
            hover-color: var(--palette-dark)
        )
    ),
    "list": (
        default: (
            item-color: var(--text-default)
        ),
        stacked: (
            item-border-color: var(--palette-dark-7)
        ),
        bordered: (
            border-color: var(--palette-dark-7)
        ),
        numbered: (
            number-color: var(--palette-dark-60)
        ),
        light: (
            item-color: var(--text-light),
            item-border-color: var(--palette-light-20),
            border-color: var(--palette-light-20),
            number-color: var(--palette-light-60)
        )
    ),
    "menu": (
        default: (
            link-color: var(--palette-dark),
            link-background-color: var(--palette-transparent),
            link-hover-color: var(--palette-dark-60),
            link-hover-background-color: var(--palette-transparent),
            link-active-color: var(--palette-dark-40),
            link-active-background-color: var(--palette-transparent)
        ),
        stacked: (
            item-border-color: var(--palette-dark-7)
        ),
        pills: (
            link-color: var(--palette-dark),
            link-hover-background-color: var(--palette-dark-10),
            link-active-color: var(--palette-neutral-lightest),
            link-active-background-color: var(--palette-dark)
        ),
        numbered: (
            number-color: var(--palette-dark-60)
        ),
        primary: (
            link-color: var(--palette-primary-dark),
            link-hover-color: var(--palette-primary-darker),
            link-active-color: var(--palette-dark-40)
        ),
        light: (
            link-color: var(--palette-light-80),
            link-hover-color: var(--palette-light),
            link-active-color: var(--palette-light-50),
            item-border-color: var(--palette-light-20),
            number-color: var(--palette-light-60)
        ),
        muted: (
            link-color: var(--palette-dark-60),
            link-hover-color: var(--palette-dark),
            link-active-color: var(--palette-dark)
        )
    ),
    "nav": (
        default: (
            link-color: var(--palette-dark),
            link-background-color: var(--palette-transparent),
            link-hover-color: var(--palette-dark-60),
            link-hover-background-color: var(--palette-transparent),
            link-active-color: var(--palette-dark-40),
            link-active-background-color: var(--palette-transparent)
        ),
        primary: (
            link-color: var(--palette-primary-dark),
            link-hover-color: var(--palette-primary-darker),
            link-active-color: var(--palette-dark-40)
        ),
        light: (
            link-color: var(--palette-light-80),
            link-hover-color: var(--palette-light),
            link-active-color: var(--palette-light-50)
        ),
        muted: (
            link-color: var(--palette-dark-60),
            link-hover-color: var(--palette-dark),
            link-active-color: var(--palette-dark)
        ),
        pills: (
            link-color: var(--palette-dark),
            link-hover-background-color: var(--palette-dark-10),
            link-active-color: var(--palette-neutral-lightest),
            link-active-background-color: var(--palette-dark)
        ),
        points: (
            border-color: var(--palette-dark-10),
            link-color: var(--palette-dark-50),
            link-border-color: var(--palette-transparent),
            link-background-color: var(--palette-transparent),
            link-hover-color: var(--palette-dark),
            link-hover-border-color: var(--palette-dark),
            link-hover-background-color: var(--palette-neutral-lightest),
            link-active-color: var(--palette-dark),
            link-active-border-color: var(--palette-dark),
            link-active-background-color: var(--palette-transparent)
        ),
        tabs: (
            link-color: var(--palette-dark-50),
            link-background-color: var(--palette-dark-5),
            link-hover-color: var(--palette-dark),
            link-hover-background-color: var(--palette-light),
            link-active-color: var(--palette-dark),
            link-active-background-color: var(--palette-light)
        ),
        switcher: (
            border-color: var(--palette-dark-10),
            link-color: var(--palette-dark-50),
            link-border-color: var(--palette-transparent),
            link-background-color: var(--palette-transparent),
            link-hover-color: var(--palette-dark),
            link-hover-border-color: var(--palette-dark),
            link-hover-background-color: var(--palette-transparent),
            link-active-color: var(--palette-dark),
            link-active-border-color: var(--palette-dark),
            link-active-background-color: var(--palette-transparent)
        )
    ),
    "overlay": (
        light: var(--palette-light-50),
        dark: var(--palette-dark-50)
    ),
    "pagination": (
        default: (
            link-color: var(--palette-dark),
            link-border-color: var(--palette-dark-15),
            link-background-color: var(--palette-transparent),
            link-hover-color: var(--palette-dark-60),
            link-hover-border-color: var(--palette-dark-15),
            link-hover-background-color: var(--palette-transparent),
            link-active-color: var(--palette-active-lightest),
            link-active-border-color: var(--palette-active-base),
            link-active-background-color: var(--palette-active-base)
        )
    ),
    "placeholder": (
        default: var(--palette-dark-40),
        light: var(--palette-light-50)
    ),
    "pre": (
        default: (
            background-color: var(--palette-neutral-lightest),
            color: var(--palette-neutral-darker),
            border-color: var(--palette-transparent)
        )
    ),
    "shadow": (
        100: (
            0 1px 2px var(--palette-dark-5),
            0 1px 3px var(--palette-dark-10)
        ),
        150: (
            1: 0 2px 4px -2px var(--palette-dark-5),
            2: 0 4px 8px -2px var(--palette-dark-10)
        ),
        200: (
            1: 0 4px 6px -2px var(--palette-dark-5),
            2: 0 8px 12px -1px var(--palette-dark-10)
        ),
        250: (
            1: 0 6px 8px -2px var(--palette-dark-5),
            2: 0 16px 24px -4px var(--palette-dark-10)
        ),
        300: 0 24px 48px -12px var(--palette-dark-25),
        350: 0 20px 80px -12px var(--palette-dark-40)
    ),
    "table": (
        default: (
            border-color: var(--palette-dark-7),
            stripe-color: var(--palette-neutral-lightest)
        )
    ),
    "text": (
        dark: var(--palette-dark),
        default: var(--palette-neutral-darker),
        moderated: var(--palette-dark-70),
        muted: var(--palette-dark-50),
        success: var(--palette-positive-dark),
        error: var(--palette-negative-dark),
        light: var(--palette-light-90),
        light-moderated: var(--palette-light-80),
        light-muted: var(--palette-light-50),
        primary: var(--palette-primary-base)
    )
));